{% extends "layout.html" %}

{% block content %}
<div class="container-fluid bg-dark text-light d-flex flex-row-reverse align-items-center py-2">
  <a href="{{url_for('logout')}}" class="px-2"> Đăng xuất</a>
  <p style="margin:0">Hello {{cur_user}}</p>
</div>
<div class="container-fluid relative" style="min-height:100%;height:900px;background-color: rgb(238, 238, 238);padding:0;">
  <div class="index-footer d-flex justify-content-center align-items-center">
    <p class="text-light m-0 p-2">Đây là Footer</p>
  </div>
</div>

{% endblock %}
