{% extends "layout.html" %}

{% block head %} 
<link rel="stylesheet" href="../../static/css/style.css">
{% endblock %}

{% block content %}
<!-- Header -->
<div class="container-fluid bg-dark text-light py-2 fixed-top border border-top-0 border-left-0 border-right-0">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center">
      <p style="margin:0"><a class="text-light" href=".."> Quản lý Khóa Luận Tốt Nghiệp - ADMIN  </a> </p>
    </div>
    <div class="col-md-8 d-flex flex-row-reverse align-items-center">
      <a href="{{url_for('logout')}}" class="px-2"> Đăng xuất</a>
      <p style="margin:0">Hello {{cur_name}}</p>
    </div>
  </div>
</div>
<!-- EndHeader -->

<!-- ConTent -->
<div class="relative" id="wrap">
  <div class="relative mt-3 content_after_fixed" style="padding:0;">
 <!-- Content -->
  <div class="row">
    <div class="col-md-3 fixed div_right">
        <nav class="nav flex-column">
             <a href=".."><button id="tag1" type="button" class="btn btn-outline-dark btn-block">Trang chủ</button></a>
             <a href="#"><button id="tag2" type="button" class="btn btn-outline-dark btn-block">Quản lý Khóa Luận</button></a>
             <a href="#"><button id="tag3" type="button" class="btn btn-outline-dark btn-block">Quản lý Sinh viên</button></a>
             <a href="#"><button id="tag5" type="button" class="btn btn-outline-dark btn-block">Quản lý Giáo viên</button></a>
             <a href="#"><button id="tag4" type="button" class="btn btn-outline-dark btn-block">Quản lý Hội đồng</button></a>
             <a href="#"><button id="tag6" type="button" class="btn btn-outline-dark btn-block">Quản lý Đợt bảo vệ</button></a>
             <a href="#"><button id="tag7" type="button" class="btn btn-outline-dark btn-block">Quản lý Điểm</button></a>
             <a href="#"><button id="tag8" type="button" class="btn btn-outline-dark btn-block">Quản lý Báo cáo</button></a>
          </nav>
    </div>
    <div id="div_left" class="absolute cold-md-8 offset-md-1 div_left border border-secondary rounded" style="min-height:100%;height:auto;background-color: white;">
        
        <div class="d-flex ">
          <div><img src="https://via.placeholder.com/200x200" alt=""></div>
          <div class="pl-3"><h1> Xin Chào {{cur_name}} <br> Khoa: {{cur_course}}</h1></div>
        </div>
      
      
      
      </div>
  </div>
</div>




</div>
 <!-- EndContent -->
<!-- Footer -->
<!-- <footer class="index-footer mt-5 d-flex justify-content-center align-items-center">
    <p class="text-light m-0 p-2">Đây là Footer</p>
</footer> -->
   <!-- Endfooter -->

<script type="text/javascript" src="./static/js_template/homepage/role0.js"></script>
{% endblock %}




















