{% extends "layout.html" %}

{% block content %}
<!-- header -->
<div class="container-fluid bg-dark text-light py-2 fixed-top border border-top-0 border-left-0 border-right-0">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center">
      <p style="margin:0"><a class="text-light" href=".."> Quản lý Khóa Luận Tốt Nghiệp - ADMIN  </a> </p>
    </div>
    <div class="col-md-8 d-flex flex-row-reverse align-items-center">
      <a href="{{url_for('logout')}}" class="px-2"> Đăng xuất</a>
      <p style="margin:0">Hello {{cur_name}}</p>
    </div>
  </div>
</div>

<div class="relative mt-3  content_after_fixed" style="height:900px;padding:0;">
 <!-- Content -->
  <div class="row">
    <div class="col-md-3 div_right">
        <nav class="nav flex-column">
             <a class="nav-link" id="tag1" href=".."><button type="button" class="btn btn-outline-dark btn-block">Trang chủ</button></a>
             <a class="nav-link" id="tag2" href="#"><button type="button" class="btn btn-outline-dark btn-block">Quản lý Khóa Luận</button></a>
             <a class="nav-link" id="tag3" href="#"><button type="button" class="btn btn-outline-dark btn-block">Quản lý Sinh viên</button></a>
          </nav>
    </div>
    <div id="div_left" class="cold-md-8 offset-md-1 div_left border border-secondary rounded" style="height:600px;background-color: white;">
        <div class="row">
          <div class="col-md-4">
            <img src="https://via.placeholder.com/200x200" alt="">
          </div>
          <div class="col-md-8">
            <h1>Bảng điều khiển : Thư ký</h1>
            <h2>Xin chào admin</h2>
          </div>
        </div>
    </div>
  </div>
 <!-- endContent -->


  <!-- footer -->
  <div class="index-footer d-flex justify-content-center align-items-center">
    <p class="text-light m-0 p-2">Đây là Footer</p>
  </div>
  
  <!-- endfooter -->
</div>
<script type="text/javascript" src="./static/js_template/role0.js"></script>
{% endblock %}
