{% extends "layout.html" %}

{%block head %}
<style media="screen">
body{
  position: relative;
  height: 100%;
  min-height: 100%;
}
</style>
{% endblock %}
{%block title %} Login Demo {% endblock %}

{% block content %}
<!-- Background opacity -->
<div class="bg-login"></div>
<!-- Form Login -->
<div class="rounded form-login">

  <!-- Logo -->
  <div class="d-flex justify-content-center">
    <img class="p-3 rounded-circle img-reponsive" src="./static/images/logo/logotlu.jpg" alt="">
  </div>

  <!-- form -->
  <form id="login_form" method='POST'>
    <div class="d-flex flex-column justify-content-center">
      <label class="font-weight-bold" for="usr">Username: </label>
      <input id="usr" class="form-control" type="text" name="username" value="" placeholder="Tên tài khoản">
      <label class="font-weight-bold" for="psw">Password: </label>
      <input id="psw" class="form-control" type="password" name="password" value="" placeholder="Mật khẩu">
    </div>
    <div id="clear">
        <div class="m-2" id="button_login_div">
        </div>
    </div>
    <div id="loading-button" class="d-flex justify-content-center mt-4 pb-4">
      <button id="button_login" class="btn btn-primary button_effect" type="button" name="button">  Đăng nhập </button>
    </div>
  </form>
</div>

<!--SCRIPT-->
<script type="text/javascript" src="./static/js_template/login.js">
</script>
{% endblock %}
